html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: serif;
}

/* TELÓN */
#curtain-container {
  position: fixed;
  inset: 0;
  z-index: 10;
  overflow: hidden;
  background: black;
}

#curtain-left,
#curtain-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background:
    repeating-linear-gradient(
      90deg,
      rgba(0,0,0,0.25) 0px,
      rgba(0,0,0,0.05) 12px,
      rgba(0,0,0,0.25) 24px
    ),
    linear-gradient(
      to bottom,
      #8a0000,
      #3b0000
    );
  box-shadow: inset -10px 0 30px rgba(0,0,0,0.6);
  transition: transform 2s ease-in-out;
}

#curtain-left { left: 0; }
#curtain-right { right: 0; }

#curtain-container.open #curtain-left {
  transform: translateX(-100%);
}
#curtain-container.open #curtain-right {
  transform: translateX(100%);
}

/* CUERDA */
#rope {
  position: absolute;
  right: 40px;
  top: -40px;
  height: 65vh;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transform-origin: top center;
  transition:
    transform 0.3s ease,
    opacity 1s ease;
  margin-right: 350px;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.6));
}

#rope.pull {
  transform: translateY(30px) scaleY(1.05);
}

#rope.hide {
  opacity: 0;
  pointer-events: none;
}

/* TEXTO INTRO */
#intro-text {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 14px;
}

/* ESCENARIO */
#stage {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("imagenes/Escenario-bc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease;
  z-index: 5;
}

#stage.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

/* DISCO */
#music-disc {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(#333, #000);
  border: 2px solid goldenrod;
  z-index: 15;
  cursor: pointer;
  /* eliminamos la animación automática */
}

#music-disc img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


#music-disc.playing {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
